<div id="entry-list">

<div class="row" style="margin-bottom:10px;">
		<input type="text" class="search form-control" placeholder="Search" />
</div>

<div class="row">
<table class="table table-striped">
	<thead>
		<tr>
			<th style="width:20%;"><span class="sort" data-sort="name">Name</span></th>
			<th style="width:20%;"><span class="sort" data-sort="author">Author</span></th>
			<th style="width:10%;"><span class="sort" data-sort="source">Source</span></th>
			<th style="width:20%;"><span class="sort" data-sort="genre">Genre</span></th>
			<th style="width:20%;"><span class="sort" data-sort="summary">Summary</span></th>
			<th style="width:20%;"><span class="sort" data-sort="cost">Cost</span></th>
			<th style="width:20%;"><span class="sort" data-sort="category">Category</span></th>
			</tr>
	</thead>
	<tr>
		<th></th>
		<th><form><select id="filter-author"></select></form></th>
		<th><form><select id="filter-source"></select></form></th>
		<th><form><select id="filter-genre"></select></form></th>
		<th></th>
		<th></th>
		<th><form><select id="filter-category"></select></form></th>
	</tr>

	<tbody class="list">
	{% assign sortedPosts = site.posts | sort: 'title' %}
	{% for post in sortedPosts %}
		<tr>
			<td class="name">
   <a href="{{ site.baseurl }}{{ post.url }}">
        {% if post.display-title %}
            {{ post.display-title }}
        {% else %}
      {% assign words = post.name | replace: '-', ' ' | split: ' ' %}
      {% capture titlecase %}{% for word in words %}{{ word | capitalize }} {% endfor %}{% endcapture %}
      {{ titlecase }}
        {% endif %}
   </a></td>
	 		<td class="author">{{ post.author | join: ", " }}</td>
			<td class="source">{% if post.source-url %}<a href="{{ post.source-url }}" target="_blank">{{ post.source }}</a>{% else %} {{ post.source }} {% endif %}</td>
			<td class="genre">{{ post.genre | truncate: 200 }}</td>
			<td class="summary">{{ post.summary | truncate: 200 }}</td>
			<td class="cost">{{ post.cost | truncate: 200 }}</td>
			<td class="category">{% for cat in post.category %}<a href="{{ site.baseurl }}/{{ cat | replace: ' ', '-' }}.html" target="_blank" >{{ cat }}</a>{% if forloop.last == false %}, {% endif %}{% endfor %}</td>
		</tr>
	{% endfor %}
	</tbody>
</table>
</div>

</div>

<script type="text/javascript" src="scripts.js"></script>
